.navbar {
    justify-content: space-between;
}

.navbar-end {
    width: 0%;
}

.menu :where(li) > :where(*:not(ul)) {
    font-weight: 700;
    font-size: 17px;
}

.menu :where(li) > :where(*:not(ul)):hover {
    color: white;
    background-color: #172B34;
}